SimpleDBEngine/.idea/
SimpleDBEngine/out/
SimpleDBEngine/studentdb/
SimpleDBEngine/SimpleDBEngine.iml

SimpleDBClients/.idea/
SimpleDBClients/out/
SimpleDBClients/studentdb/
SimpleDBClients/SimpleDBClients.iml

.idea/
out/
studentdb/
cs3223.iml
